@model LoginModel
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewData["Title"] = "ManagerAccount Login";
    ViewData["Description"] = "SpiritLingSystem Manager Account Login";
    ViewData["Keywords"] = "manager,login";
    ViewData["Author"] = "SpiritLing";
}
<h1>登录</h1>
<br/>
@if (Model.IsError)
{
    <div class="alert alert-danger" role="alert">
        @foreach (var item in ViewContext.ViewData.ModelState)
        {
            if (item.Value.Errors.Any() && item.Key == "CheckOverall")
            {
                <p>@Html.Raw(string.Join("; ", item.Value.Errors.Select(x => x.ErrorMessage)))</p>
            }
        }
    </div>
}
<form asp-action="Login" method="post" asp-route-returnUrl="@Model.ReturnUrl">
     <div class="mb-3">
         <label for="LoginName" class="form-label">账号</label>
         <input type="text" class="form-control" id="LoginName" name="LoginName" asp-for="LoginName" autocomplete="off" placeholder="登录名">
         <span class="invalid-feedback" asp-validation-for="LoginName"></span>
      </div>
      <div class="mb-3">
        <label for="LoginPassword" class="form-label">密码</label>
          <input type="password" class="form-control" id="LoginPassword" name="LoginPassword" asp-for="LoginPassword" autocomplete="off" placeholder="密码">
           <span class="invalid-feedback" asp-validation-for="LoginPassword"></span>
      </div>
    <button type="submit" class="btn btn-primary">登录</button>
    <input type="hidden" asp-for="ReturnUrl" name="ReturnUrl"/>
</form>