@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewData["Title"] = "ManagerAccount Login";
    ViewData["Description"] = "SpiritLingSystem Manager Account Login";
    ViewData["Keywords"] = "manager,login";
    ViewData["Author"] = "SpiritLing";
}

<span>Login</span>