.ThirdPartyTopLine {
  position: absolute;
  top: 50%;
  background: #FFFFFF;
  content: "";
  height: 1px;
  width: calc((100% - 120px) / 2);
}

.third-party {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px auto;

  .third-party-top {
    width: 100%;
    position: relative;
    text-align: center;
    &>span{
      color: #FFFFFF;
    }
    &:before {
      @extend .ThirdPartyTopLine;
      left: 0;
    }

    &:after {
      @extend .ThirdPartyTopLine;
      right: 0;
    }
  }

  .third-party-main {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    .icon-login {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      cursor: pointer;
      & > img {
        display: inline-block;
        width: 36px;
        height: 36px;
        padding: 8px;
        background-color: #FFF;
        border-radius: 36px;
        cursor: pointer;
      }
      &>span{
        margin-top: 4px;
        color: #FFF;
        font-size: 16px;
      }
    }
  }

}


