@import "assets/css/consts.scss";

.layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .section {
        flex: 1 1 auto;
        display: flex;
        background-color: $GLOBAL_BACKGROUND_1;
        overflow: hidden;

        .mainSection {
            flex: 1 1 auto;
            overflow: auto;
            overflow-x: hidden;
            display: flex;
            flex-direction: column;
            @extend .basicScroll;

            .contentMain {
                background-color: $GLOBAL_BACKGROUND_2;
                flex: 1 1 auto;
                padding: 20px;
                margin: 20px;
            }
        }
    }
}