// 全局背景色 偏灰色一点
$GLOBAL_BACKGROUND_1:rgb(240, 242, 245);

// 全局背景色，白色
$GLOBAL_BACKGROUND_2:rgb(255, 255, 255);


// 滑块颜色
$SCROLL_THUMB_COLOR:rgb(206, 207, 209);

// 基本滚动条
.basicScroll {

    /*控制整个滚动条*/
    &::-webkit-scrollbar {
        background-color: transparent;
        width: 6px;
        height: 6px;
        background-clip: padding-box;
    }

    /*滚动条两端方向按钮*/
    &::-webkit-scrollbar-button {
        display: none;
    }

    /*滚动条中间滑动部分*/
    &::-webkit-scrollbar-thumb {
        background-color: $SCROLL_THUMB_COLOR;
        border-radius: 5px;
    }

    /*滚动条右下角区域*/
    &::-webkit-scrollbar-corner {
        display: none;
    }
}