@using NextStar.Library.AspNetCore.Abstractions
@using NextStar.Library.Core.Consts
@model LoginModel
@inject IApplicationConfigStore _applicationConfigStore
@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewData["Title"] = "登录";
    ViewData["Description"] = "NexStar Manager Account Login";
    ViewData["Keywords"] = "manager,login";
    ViewData["Author"] = "NexStar";
}

@section Heads
{
    <link rel="stylesheet" href="~/css/Account/login.css"/>
}

<h1 id="h1">登录</h1>
<form asp-action="Login" method="post" asp-route-returnUrl="@Model.ReturnUrl">
    <input type="hidden" asp-for="ReturnUrl" name="ReturnUrl"/>
    @if (await _applicationConfigStore.GetConfigBoolAsync(NextStarApplicationName.IsAllowPasswordLogin))
    {
        <div class="mb-3">
            <label for="LoginName" class="form-label">账号</label>
            <input type="text" class="form-control" id="LoginName" name="LoginName" asp-for="LoginName" autocomplete="off" placeholder="登录名">
            <span class="invalid-feedback" asp-validation-for="LoginName"></span>
        </div>
        <div class="mb-3">
            <label for="LoginPassword" class="form-label">密码</label>
            <input type="password" class="form-control" id="LoginPassword" name="LoginPassword" asp-for="LoginPassword" autocomplete="off" placeholder="密码">
            <span class="invalid-feedback" asp-validation-for="LoginPassword"></span>
        </div>
        <button type="submit" class="btn btn-primary">登录</button>
    }
    else
    {
        <div class="alert alert-primary" role="alert">
            该站点已被管理员禁止使用账号密码登录
        </div>
    }
    <div class="third-party">
        <div class="third-party-top">
            <span>第三方登录</span>
        </div>
        <div class="third-party-main">
            <a class="icon-login" asp-controller="Account" asp-action="ThirdPartyLogin" asp-route-routingParameters="Google">
                <img src="~/image/Account/google.svg" alt="Google icon">
                <span>Google</span>
            </a>
            <a class="icon-login" asp-controller="Account" asp-action="ThirdPartyLogin" asp-route-routingParameters="Microsoft">
                <img src="~/image/Account/microsoft.svg" alt="Microsoft icon">
                <span>Microsoft</span>
            </a>
            <a class="icon-login" href="javascript:void(0);">
                <img src="~/image/Account/github.svg" alt="Github icon">
                <span>Github</span>
            </a>
        </div>
    </div>
</form>